/* This is a sample of some media queries used in a responsive design. */

header {
	
	position: fixed;
	top: 0;
	max-width: 740px;
	height: 75px;
	padding: 28px 0;
	border-bottom: 1px solid #bbb2a4;
	font-size: 15px;
	color: #bbb2a4;
	background-color: #ffffff;
}

header h1, header nav {
	
	width: 370px;
}

header h1 {
	
	min-width: 240px;
	font-size: 15px;
	color: #666666;
	font-weight: normal;
}

header img {
	
	vertical-align: middle;
	margin-right: 6%;
	max-width: 100%;
}

header nav {
	
	text-align: right;
}

header nav a {
	
	padding: 0 5px;
}

/* Media queries */

@media screen and (max-width: 800px) { 

	header nav {
	
		width: 66%;
	}

}

@media screen and (max-width: 768px) { 

	header nav {
	
		padding-right: 2%;
	}

}

@media screen and (max-width: 600px) { 

	header h1, header nav {
	
		width: 50%;
	}

}

@media screen and (max-width: 480px) { 

	header img {
	
		margin-right: 3%;
	}

}

@media screen and (max-width: 320px) { 

	header {
	
		height: 60px;
	}

	header h1 {
	
		min-width: 220px;
	}
	
	header img {
	
		max-width: 60px;
	}
	
	header nav {
	
		padding-right: 4%;
	}

}
