.nav-tabs {
  *zoom: 1;
  border-bottom: 1px solid #ddd;
}

[data-toggle="tab"] {
  float: left;
  width: grid-span(3, 1);
  margin-bottom: -1px;
  padding: 12px 4px;
  line-height: 20px;
  border: 1px solid transparent;
  &:last-child {
    width: grid-span(3, 1, $gutter: 0);
  }
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eee #eee #ddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: $tab-link-color-active;
  cursor: default;
  background: $tab-bg-color;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-content {
  overflow: auto;
}

.tab-pane {
  display: none;
  &.active {
    display: block;
  }
}